<div class="ask-question-content">
  <div class="title">
    <h3>Escreva sua questão</h3>
    <h6>Nossa comunidade irá te auxiliar</h6>
  </div>

  <div class="form-content">
    <form action="">
      <div class="form-group">
        <label for="question-title">Título</label>
        <input
          type="text"
          class="form-control"
          id="question-title"
          formControlName="question-title"
        />
      </div>
      <div class="form-group">
        <label for="question-content" class="question-content-label"
          >Corpo</label
        >
        <textarea
          name="question-content"
          id="question-content"
          class="form-control"
          formControlName="question-content"
          cols="30"
          rows="10"
        ></textarea>
      </div>

      <div class="tags">
        <label class="tags-label">Tags</label>
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="btn-check"
            id="programacao"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="programacao"
            >Programação</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="btn-check"
            id="matematica"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="matematica"
            >Matemática</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="btn-check"
            id="historia"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="historia">História</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="btn-check"
            id="geografia"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="geografia"
            >Geografia</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="btn-check"
            id="biologia"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="biologia">Biologia</label>
        </div>
      </div>
    </form>
  </div>
</div>
