@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

*{
  font-family: "Roboto", sans-serif;
}

ion-card,
ion-thumbnail,
ion-item,
ion-card-header ,
ion-card-subtitle {
  padding: 0;
  margin: 0;
}

.icon{
  display: block;
    float: right;
    text-align: right;
    margin-top: 0px;
    margin: 10px;
}

ion-card{
  border: 1px solid rgb(207, 207, 207);
  /* margin: 1%; */
}

.profile {
  /* width: 40px; */
}

.header {
  margin-top: 1%;
  display: flex;
  width: 100%;
}

.card{
  margin: 0;
  padding-bottom: 0;
  padding: 0;
  padding-top: 5px;
}

.card-question{
  padding: 0;
  padding-bottom: 5px;
}

.header-title {
  position: relative;
  text-align: center;
  margin: auto 0;
  margin-right: 3%;
  margin-left: 2%;
  color: #6d5c5c;
  font-weight: 500;
}

.rodape{
  display: flex;
  justify-content: space-between;
}

.text-rodape{
  color: #333333;
  font-weight: 500;
}

.question{
  padding-left: 1em;
  color: #535353;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1%;
}

ion-card-subtitle {
  color: #6d5c5c;
  font-weight: 400;
}

#dislike {
  transform: rotate(180deg);
}

.questions {
  color: #383838;
}

.vermelho{
  color: red;
}

.verde{
  color: green;
}

.qtd_like {
  display: absolute;

  font-size: auto;
  white-space: nowrap;
}
