<ion-card>
  <ion-card-content class="card">
    <ion-card-content class="card-question">
      <ion-item>
        <span style="text-align: center;">
          <ion-icon
            name="arrow-up"
            (click)="plusLike()"
            class="img_like"
            id="like"
          ></ion-icon>

          <h1 class="qtd_like" [ngClass]="{ vermelho: !color, verde: color }">
            {{ valor }}
          </h1>

          <ion-icon
            name="arrow-up"
            (click)="lessLike()"
            class="img_like"
            id="dislike"
          ></ion-icon>
        </span>

        <p class="question">{{ question.question }}</p>
    </ion-item>
    <div class="rodape" style="margin-top: 2em;">
      <ion-card-subtitle
        >Autor:
        <span class="text-rodape">{{
          question.authorName
        }}</span></ion-card-subtitle
      >
      <ion-card-subtitle
        >Data
        <span class="text-rodape">{{
          question.createdDate | date : "dd/MM/yyyy"
        }}</span></ion-card-subtitle
      >
    </div>
    </ion-card-content>
  </ion-card-content>

  <div class="icon">
    <ion-button size="small" (click)="viewQuestion(question)"
      ><ion-icon slot="start" name="eye-outline"></ion-icon>Ver
      respostas</ion-button
    >
  </div>
</ion-card>
