<ion-card>
  <ion-card-header>
    <div class="header">
      <ion-card-title class="header-title"
        >Com quantos cocos se faz uma cocada?</ion-card-title
      >
      <ion-thumbnail slot="end">
        <img
          alt="Silhouette of mountains"
          src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
        />
      </ion-thumbnail>
    </div>

    <div class="hours">
      <ion-card-subtitle>05:02am</ion-card-subtitle>
    </div>
  </ion-card-header>

  <ion-item>
    <div class="like">
      <img
        (click)="plusLike()"
        class="img_like"
        id="like"
        src="https://img1.gratispng.com/20180415/faq/kisspng-arrow-desktop-wallpaper-symbol-clip-art-up-arrow-5ad37ddc5b54e8.2856629015238097563741.jpg"
        slot="start"
      />
      <h1 class="qtd_like">
        {{ valor }}
      </h1>
      <img
        (click)="lessLike()"
        class="img_like"
        id="dislike"
        src="https://img1.gratispng.com/20180415/faq/kisspng-arrow-desktop-wallpaper-symbol-clip-art-up-arrow-5ad37ddc5b54e8.2856629015238097563741.jpg"
        slot="start"
      />
    </div>

    <ion-card-content>
      <p class="questions">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed ex
        reprehenderit suscipit mollitia sint iusto nam pariatur hic eius. Earum
        quas unde cupiditate dolore eveniet quis itaque, dicta tempore.
      </p>
    </ion-card-content>
  </ion-item>
</ion-card>
