<ion-app>
  <!-- <ion-menu  contentId="main-content">
    <ion-content class="">

    </ion-content>
  </ion-menu> -->
  <ion-menu side="start" contentId="app-content">

		<ion-content>
      <ion-item style="text-align: center;">
        <ion-label>Explore tópicos</ion-label>
      </ion-item>

      <ion-list>

        <ion-item expand="full" size="default" >
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Questões</ion-label>
        </ion-item>

        <ion-item expand="full" size="default" >
          <ion-icon name="compass-outline" slot="start"></ion-icon>
          <ion-label>Explore tags</ion-label>
        </ion-item>

        <ion-item expand="full" size="default" >
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Meu Perfil</ion-label>
        </ion-item>

      </ion-list>

		</ion-content>

    <ion-footer>
      <div class="logo">
        <img src="/assets/logo.svg" width="50%" />
      </div>
    </ion-footer>

	</ion-menu>
  <ion-router-outlet  id="app-content"></ion-router-outlet>
</ion-app>
