<ion-header>
	<ion-toolbar>
    <ion-title>Nova Reposta</ion-title>
    <ion-buttons fill="outline" slot="end">
			<ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
				Fechar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item class="login">
      <div class="box-text-area">
      
          <textarea formControlName="response" rows=10 matInput placeholder="Digite sua resposta!">
        </textarea>
       
      </div>      
    </ion-item>
    <div style="text-align: center">
      <ion-button class="ion-margin-top"  (click)='cadastrar()'>Responder</ion-button>
    </div>    
  </form>
</ion-content>