<ion-header>
	<ion-toolbar>
    
    <ion-buttons fill="outline" slot="end">
			<ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
				Fechar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

  <ion-title>Nova Questão</ion-title>

  
  <ion-accordion-group class="info-question">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Inclua detalhes sobre o seu objetivo

        Descreva os resultados atuais e os esperados
        
        Inclua mensagens de erro
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <form [formGroup]="form">
    <ion-item class="box-question">
      <div class="box-text-area">
       
          <textarea formControlName="question"  style="resize: none;" rows=10 matInput placeholder="Digite sua pergunta!">
        
          </textarea>
       
      </div>      
    </ion-item>
    <div style="text-align: center">
      <ion-button class="ion-margin-top"   (click)='cadastrar()'>Cadastrar</ion-button>
    </div>    
  </form>
</ion-content>