<ion-content>

  <ion-img alt="" class="logo" name="image" src="./assets/logo.svg"></ion-img>

  <ion-text class="titleText ion-text-center">
    <p class="principal">Faça seu login!</p>
    <p class="subTitle">Ou crie uma conta para continuar</p>
  </ion-text>


  <ion-item class="ion-margin-top ion-padding .ion-align-items-center .ion-no-border login " style="margin:0px">
      <form [formGroup]="form" style="width: 100%">

        <ion-item class="ion-margin-top home" lines="none">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" formControlName="userName" class="home"  placeholder="Usuário"></ion-input>
        </ion-item>


        <ion-item class="ion-margin-top home" lines="none">
          <ion-icon name="lock-closed-outline" class="home"></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="Senha" class="home"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()">Entrar</ion-button>

        <ion-button (click)="abrirTela()" class="register ion-margin-top">Cadastrar</ion-button>
      </form>
  </ion-item>
</ion-content>
