@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

ion-content {

  .logo {
    width: 50%;
    margin: 0;
    margin-top: 8%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
  }

  .titleText {

    color: #563939;
    font-family: 'Roboto';
    font-size: 40px;

    .principal {
      font-weight: 800;
      margin-bottom: 0px;
    }

    .subTitle {
      margin-top: 0px;
      font-size: 20px;
    }
  }


}

ion-segment {
  margin-top: 10%;
  border: 1px solid #91cbd7;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  --background: #91cbd7;

}


ion-item{
  
  .login {
    position: absolute;
    justify-items: center;
    width: 100%;
    left: 0;
    right: 0;
    left: 0;
    top: 35%;
  }

  .home{
  --background: #E3E3E3;
  --border-radius: 10px;
 
  }

  .box-login {
    position: flex;
    margin-top: 0px;
    --height: 100%;
    --width: 100%;
  }
  
  ion-input {
    margin-left: 5%;    
  }

  .logo-input {
    width: 10%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .register {
    --color: #FFFFFF;
    --color-checked: #08a391;
    --indicator-height: 4px;
    --background: #6FC7E9;
    --border-color: #6FC7E9;
    --border-style: solid;
    --border-width: 1px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    width: 70%; 
  }

  ion-button {
    --color: #FFFF;
    --color-checked: #08a391;
    --indicator-height: 4px;
    --border-radius:10px;
    background-color: #4E9BB9;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    border-radius: 70%;
    width: 80%;
    height: 50px;
   
  }
 
}

