ion-content {

  .logo {
    width: 50%;
    margin: 0;
    margin-top: 8%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }


}

ion-segment{
  margin-top: 10%;
  border: 1px solid #91cbd7;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  --background: #91cbd7;

}

ion-slides {

  position: absolute;
  justify-items: center;
  height: 70%;
  left: 0;
  right: 0;
  left: 0;
  top: 30%;

  .slide-inner {
    width: 70%;
    background-color: #91cbd7;
    border-radius: 2%;
    color: #ffffff;

   
  }

  ion-slide {
    position: relative;
    margin-top: 0px;
    height: 75%;
  }
}

// .ocean{
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 53%;
//   background-position: center;
//   background-color: white;

//   span{
//     position: absolute;
//     bottom: 10%;
//     left: 0;
//     right: 0;
//     margin: auto;
//     color: rgb(255, 255, 255);
//   }
// }