<ion-content>

  <ion-img alt="" class="logo" name="image" src="./assets/logo.png"></ion-img>

  <ion-text class="titleText ion-text-center">
    <p class="principal">Faça seu login!</p>
    <p class="subTitle">Ou crie uma conta para continuar</p>
  </ion-text>


  <ion-item class="login">
    <div class="box-login ion-padding">

      <ion-item class="ion-margin-top" lines="none">
        <ion-img alt="" class="logo-input" name="image" src="./assets/icon/call.svg"></ion-img>
        <ion-input type="email" placeholder="(00) 000000-000"></ion-input>
      </ion-item>

      <!-- [(ngModel)]= "userLogin.password" -->
      <ion-item class="ion-margin-top" lines="none">
        <ion-img alt="" class="logo-input" name="image" src="./assets/icon/lock.svg"></ion-img>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>

      <!-- (click)="login()" -->
      <ion-button class="ion-margin-top">Entrar</ion-button>

      <ion-button class="register ion-margin-top">Cadastrar</ion-button>

      <ion-item class="img-login">
        
        <ion-label>
          <ion-img alt="" class="login-list" name="image" src="./assets/login-google.png"></ion-img>
        </ion-label>

      </ion-item>

    </div>
  </ion-item>


</ion-content>