<ion-content>
  <ion-img alt="" class="logo" name="image" src="./assets/logo.png"></ion-img>
  <ion-slides>


    <ion-slide>

      <div class="slide-inner ion-padding">

        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <!-- [(ngModel)]= "userLogin.email" -->
          <ion-input type="email" placeholder="E-mail" ></ion-input>
        </ion-item>

        <!-- [(ngModel)]= "userLogin.password" -->
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" ></ion-input>
        </ion-item>

        <!-- (click)="login()" -->
        <ion-button class="ion-margin-top"  color="light" expand="block">Entrar</ion-button>

      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">

        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <!-- [(ngModel)]= "userLogin.email" -->
          <ion-input type="text" placeholder="Nome" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <!-- [(ngModel)]= "userLogin.email" -->
          <ion-input type="email" placeholder="Email" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <!-- [(ngModel)]= "userLogin.email" -->
          <ion-input type="password" placeholder="Senha" ></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top"  color="light" expand="block">Cadastrar</ion-button>
      </div>
    </ion-slide>

  </ion-slides>
  <div class="ocean">

    <div class="waves"></div>

    <div class="container ion-text-center">
      <span>MutBot</span>
    </div>
  </div>

</ion-content>
